body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    label {
        margin-left: auto;
    }
    em, time {
        display: block;
        /*margin-left: auto;*/
        text-align: right;
    }
}



