html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  /*background: yellow;
  opacity: 50%;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*circle {
    fill-opacity: 60%;
    fill: steelblue;
    stroke: white;
  }*/
  circle {
    --color-departures: steelblue;
--color-arrivals: darkorange;
--color: color-mix(
  in oklch,
  var(--color-departures) calc(100% * var(--departure-ratio)),
  var(--color-arrivals)
);
fill: var(--color);
  }
}

.legend {
  display: flex;
  margin-block: 1rem;
  gap: 1rem;
  div {
    display: flex;
    gap: 0.5rem;
    --color-departures: steelblue;
--color-arrivals: darkorange;
--color: color-mix(
  in oklch,
  var(--color-departures) calc(100% * var(--departure-ratio)),
  var(--color-arrivals)
);
fill: var(--color);
  }
  div::before {
    content: "";
    height: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color);
    display: inline-block;
    /*gap: 0.5rem;*/
  }
}
#map-legend {
  text-transform: uppercase;
  font-family: "Roboto";
  margin-right: 0.5em;
}